@charset "utf-8";

#wrap {
    background: #fff;
    width: 1200px;
    margin: 0 auto;
}
a {
    display: block;
    width: 100%;
    height: 100%;
}
* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    color: #333;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 30px;
    height: 100px;
    background: palegoldenrod;
    position: relative;
}

header h1 {line-height: 100px;}
header .nav {
    display: flex;
    width: 500px;
}
header .nav li{
    width: 125px;
    height: 50px;
    transition: background-color .2s;
}
header .nav li a{
    line-height: 30px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
header .depth{
    display: none;
    z-index: 3;
    position: relative;
}
header .nav >li:hover{background:greenyellow;}
header .nav .depth li:hover{background:greenyellow;}

header .depth_bg {
    height: 150px;
    width: 100%;
    background: yellow;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 2;
    display: none;
}

.slide{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.slide ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slide ul li {
    width: 1200px;
    height: 300px;
    float: left;
    background: #eee;
}