@charset "utf-8";

body * {
    color: #333;
    text-decoration: none;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    display: block;
    width: 100%;
    height: 100%;
}

#wrap {
    width: 1200px;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
header h1 {
    width: 400px;
}
header ul.nav {
    display: flex;
    width: 600px;
}
header ul.nav > li {
    width: 25%;
    position: relative;
    height: 60px;
    margin-left: 20px;
}
header ul.nav > li:first-child {
    margin-left: 0;
}
header ul.nav > li > a{
    background-color: rosybrown;
    text-align: center;
    line-height: 60px;
    transition: background-color .2s;
}
header ul.nav > li > a:hover{
    background: darkcyan;
}

header ul.depth {
    position: absolute;
    top: 60px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s;
    z-index: 5;

}
header ul.depth li{
    height: 60px;
}
header ul.depth > li > a{
    background-color: slategray;
    text-align: center;
    line-height: 60px;
}
header ul.nav li:hover ul.depth{
    opacity: 1;
    visibility: visible;
} 
section{ 
    width: 100%;
    height: 500px;
    background-color: #eee;
}

.slide{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.slide ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slide ul li {
    width: 1200px;
    height: 300px;
}
.slide ul li a{
    height: 100%;
    width: 100%;
}
.contents {
    width: 100%;
    height: 200px;
    display: flex;
}
.contents >*{
    background-color: #999;
    padding: 10px 20px;
    overflow: hidden;
}

.contents .board ul{
    display: flex;
}
.contents .board ul li{
    width: 100px;
}
.contents .board ul li.on a{
    background: #fff;
}
.contents .board ul li a{
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.contents .board .cont div {
    background-color: #fff;
    padding: 10px 20px;
    display: none;
}
.contents .board .notice.on{
    display: block;
}
.contents .board .gallery.on{
    display: flex;
}
.contents .board .notice p{
    height: 30px;
    line-height: 30px;
}
.contents .board .gallery{
    justify-content: space-between;
}
.contents .board .gallery a{
    background: chocolate;
    width: 100px;
    height: 100px;
}
.contents .banner{
    background: #000;
    padding: 10px 20px;
    color: #fff;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
footer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
footer ul li:nth-child(1) {
    width: 20%;
}
footer ul li:nth-child(2) {
    width: 50%;
    text-align: center;
}
footer ul li:nth-child(3) {
    width: 30%;
}
footer li.sns li {
    background-color: khaki;
    width: 80px;
    height: 80px;
}
footer li.sns ul{
    padding: 0;
}

.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.popup .bg {
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
}
.popup .wrap{
    z-index: 10;
    width: 400px;
    height: 400px;
    position:absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    background-color: #fff;
}