@charset "utf-8";
* {
    color : #333;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}
a {
    display: block;
    width: 100%;
    height: 100%;
}
#wrap {
    width: 1200px;
    margin: 0 auto;
}

.logo {color: darkolivegreen;}
header {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.nav {
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav li {
    width: 120px;
    height: 40px;
    line-height: 40px;
    transition: background-color .2s;
    position: relative;
}
.nav li:hover {background: rgb(255, 196, 173);}
.depth {
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
    padding: 20px 0;
}