@charset "uft-8";
* {
    text-decoration: none;
    list-style: none;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}
a {
    display: block;
    width: 100%;
    height: 100%;
}
#wrap {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    background: #fff;
}
.logo {
    color: olive;
    text-align: left;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 0 20px;
}
header .logo {width: 50%;}
header .nav {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 50%;
    position: relative;
}
header li {
    height: 40px;
    line-height: 40px;
    transition: background-color .2s;
}
header li:hover {
    background: olivedrab;
}
header .nav >li{
    width: 120px;
    position: relative;
}
header .depth{
    position :absolute;
    top: 40px; 
    left: 0;
    width: 100%;
    height: auto;
    z-index: 11;
    display: none;
}
#wrap header .bg {
    background-color: #fff;
    opacity: .5;
    position:absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 160px;
    z-index: 10;
    display: none;
}
#wrap header .bg:hover {background: none;}

.slide {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.slide ul {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.slide ul li{
    float: left;
    width: 1200px;
    height: 100%;
    background-color: salmon;
}
.container {display: flex;}
.container >div {
    width: 400px;
    height: 200px;
}
.tab .list {
    display: flex;
    width: 100%;
    height: 40px;
}
.tab .list li{
    height: 40px;
    line-height: 40px;
    width: 140px;
}
.tab .list li.on {
    background: olivedrab;
    color: #fff;
}
.tab .cont {height: 160px;}
.tab .cont > *{display: none;}
.tab .cont >.on {
    display: block;
    background: olivedrab;
    height: 100%;
}
.tab .cont >.on *{color: #fff;}
.tab .notice p{
    padding: 5px;
    text-align: left;
}
.tab .gallery ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.tab .gallery ul li {
    width: 120px;
    height: 120px;
    background: green;
}
.banner {background: antiquewhite;}
.go_link {background: wheat;}
footer {
    display: flex;
    padding: 0 20px;
    background: palegreen;
}
footer .logo{
    filter: grayscale();
    width: 30%;
    line-height: 100px;
}
footer .inner {width: 70%;}
footer .inner >* {
    height: 50px;
    line-height: 50px;
}
footer .inner .info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.popup .inner {
    width: 300px;
    height: 400px;
    background: #fff;
    padding: 20px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 150px);
}